<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<style>
		#ticket-tracker {
  			height: 100px;
  			width: 100px;
		}
	</style>
	
</head>
<body>
	<script
		src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js"
		referrerpolicy="origin"></script>

	<script>
  tinymce.init({
    selector: 'textarea#editor',
    skin: 'bootstrap',
    plugins: 'lists, link, image, media',
    toolbar: 'h1 h2 bold italic strikethrough blockquote bullist numlist backcolor | link image media | removeformat help',
    menubar: true,
  });
</script>
	<nav class="navbar navbar-expand-md navbar-dark"
		style="background-color: rgb(211, 209, 209)">
		<!-- Brand -->
		<a class="navbar-brand" href="#"><img id="ticket-tracker" src="https://i.pinimg.com/736x/51/2a/9f/512a9fddec46ae92f99204ff8b0b0bb8.jpg"></a> <a
			th:href="@{/home/tickets}" class="navbar-brand"> Tickets</a> <a
			th:href="@{/home/tickets/newTicket}" class="navbar-brand"> New
			Ticket</a>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>
	<br>

	<br>
	<div class="container">
		<div class="row">
			<div
				class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class="text-center">Create Ticket</h1>
				<div class="card-body">
					<form th:action="@{/home/tickets}" th:object="${ticket}"
						method="POST">
						<div class="form-group">
							<label> Title </label> <input type="text" name="ticketName"
								th:field="*{ticketName}" class="form-control"
								placeholder="Enter Ticket Name" />
						</div>

						<div class="form-group">
							<label> Ticket Short Description </label>
							<textarea type="text" name="ticketShortDescription"
								th:field="*{ticketShortDescription}" class="form-control"
								placeholder="Ticket Short Description"></textarea>

						</div>

						<div class="form-group">
							<label> Content </label>
							<textarea id="editor" type="text" name="ticketDescription"
								th:field="*{ticketDescription}" class="form-control"
								placeholder="Ticket Description"></textarea>
						</div>


						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
