<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ticket Tracker Application</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
	
	<style>
		#ticket-tracker {
  			height: 100px;
  			width: 100px;
		}
	</style>

</head>
<body>
	<nav class="navbar navbar-expand-md navbar-dark" style= "background-color: #e59c5c">
		<!-- Brand -->
		<a class="navbar-brand" href="#"><img id="ticket-tracker" src="https://i.pinimg.com/736x/51/2a/9f/512a9fddec46ae92f99204ff8b0b0bb8.jpg"></a>
		<a th:href="@{/home/tickets}" class="navbar-brand">
					Tickets</a>
		<a th:href="@{/home/tickets/newTicket}" class="navbar-brand">
					New Ticket</a>
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

	</nav>
	<div class="container">
		<div class="row">
			<h1>List of Tickets</h1>
		</div>

		<form th:action="@{/home/tickets/search}" method="get">
  			<input type="text" name="query" th:value="${query}"  placeholder="Find by Ticket Details" size="50" >
  			<button type="submit" class="btn btn-primary" >Search</button>
  		</form>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>#</th>
					<th>Ticket Title</th>
					<th>Ticket Short Description</th>
					<th>Ticket Created On</th>
					<th>Actions</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="ticket: ${tickets}">
					<td th:text="${ticket.id}"></td>
					<td th:text="${ticket.ticketName}"></td>
					<td th:text="${ticket.ticketShortDescription}"></td>
					<td th:text="${ticket.ticketCreatedOn}"></td>
					<td><a th:href="@{/home/tickets/edit/{id}(id=${ticket.id})}"
						class="btn btn-primary">Edit</a> <a
						th:href="@{/home/tickets/delete/{id}(id=${ticket.id})}"
						class="btn btn-danger">Delete</a>
						 <a
						th:href="@{/home/tickets/view/{id}(id=${ticket.id})}"
						class="btn btn-info">View</a>
						
						</td>
				</tr>
			</tbody>

		</table>

	</div>
</body>
</html>







